* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root.light {
  background-color: white;
  color: black;
}

:root.dark {
  background-color: black;
  color: white;
}

.theme-switcher {
  font-size: 18px !important;
  position: fixed;
  right: 0;
  top: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  flex-direction: column;
}

.introscreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
h1 {
  font-size: 64px;
  margin-top: 20vh;
  text-transform: uppercase;
}
.game-instructions {
  width: 100vh;
  margin: auto;
  font-size: 14px;
  margin-bottom: 75px;
}

li {
  margin-bottom: 25px;
  line-height: 1.5;
}

p {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}

.difficulty-options,
.difficulty-options-end {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.btn-dif,
.btn-end,
.theme-switcher {
  background-color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  font-family: "Press Start 2P", cursive;
  border-radius: 5px;
}
.btn-dif:hover,
.btn-dif:active,
.btn-end:hover,
.btn-end:active,
.theme-switcher:hover,
.theme-switcher:active {
  background-color: black;
  color: white;
}

.minefield {
  border: 5px solid black;
  display: grid;
}
.hidden {
  display: none;
}
.minesquare {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unclicked {
  border: 1px solid black;
  background-color: gray;
  cursor: pointer;
}

.game-screen {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.game-info {
  font-size: 32px;
  margin: 50px 0 25px 0;
}
.play-again {
  margin: 0;
}

.not-shown {
  visibility: hidden;
}
.instruction {
  font-size: 18px;
  margin: 0;
}
